# R-specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# R package-specific files
*.tar.gz
*.tgz

# Shiny-specific
rsconnect/
shinyapps/

# Ignore the raw data archive
raw_data_archive/

# Ignore large data files in the root (just in case)
*.csv
*.xlsx

# BUT! Do not ignore the one specific file we need for the app
!deployment/data/gastric_cancer_parameters.csv

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Temporary files
*~
*.swp
*.swo